{% comment %}
    Renders product media

    Accepts:
    - media: {Object} Product Media object

    Usage:
    {% render 'product-media',media: media %}
{% endcomment %}

{% for image in media %}
    <div class="swiper-slide">
        <img
                class="global-media-settings global-media-settings--no-shadow{% if variant_image %} product__media-item--variant{% endif %}"
                srcset="{%- if image.preview_image.width >= 550 -%}{{ image.preview_image | image_url: width: 550 }} 550w,{%- endif -%}
            {%- if image.preview_image.width >= 1100 -%}{{ image.preview_image | image_url: width: 1100 }} 1100w,{%- endif -%}
            {%- if image.preview_image.width >= 1445 -%}{{ image.preview_image | image_url: width: 1445 }} 1445w,{%- endif -%}
            {%- if image.preview_image.width >= 1680 -%}{{ image.preview_image | image_url: width: 1680 }} 1680w,{%- endif -%}
            {%- if image.preview_image.width >= 2048 -%}{{ image.preview_image | image_url: width: 2048 }} 2048w,{%- endif -%}
            {%- if image.preview_image.width >= 2200 -%}{{ image.preview_image | image_url: width: 2200 }} 2200w,{%- endif -%}
            {%- if image.preview_image.width >= 2890 -%}{{ image.preview_image | image_url: width: 2890 }} 2890w,{%- endif -%}
            {%- if image.preview_image.width >= 4096 -%}{{ image.preview_image | image_url: width: 4096 }} 4096w,{%- endif -%}
            {{ image.preview_image | image_url }} {{ image.preview_image.width }}w"
                sizes="(min-width: 750px) calc(100vw - 22rem), 1100px"
                src="{{ image.preview_image | image_url: width: 1445 }}"
                alt="{{ image.alt | escape }}"
                loading="lazy"
                data-media-id="{{ image.id }}"
        >
    </div>
{% endfor %}